*{
    font-size:inherit;
    font-family:inherit;
    line-height: inherit;}

body{
    font-size:40px;
}


.container{
    width: 800px;
    margin: 0 auto;
    text-align:center;
}

input{
    border-radius:15px;
    text-align:center;
}